header{
  margin: 2rem;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 2px solid rgb(241, 238, 238);
  box-shadow: 4px 4px rgb(236, 236, 236);
  font-size: 2rem;
  font-family: monospace;
}

img{
  width: 200px;
}